* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: beige;
}

.main-header {
  background: rgb(148, 87, 87);
  width: 100%;
  height: 100px;
  color: beige;
}

.navigation ul {
  display: flex;
  padding: 5;
}
.navigation h1 {
  font-size: 50px;
  line-height: 1.4;
  padding-left: 20;
}
.navigation img {
  width: 5%;
}
.navigation li {
  list-style: none;
  width: 15%;
  padding-left: 80;
}
.navigation a {
  color: beige;
  display: block;
  transition: 0.4s ease;
  line-height: 4;
  text-decoration: none;
}
.navigation a:hover {
  transform: translateX(10%);
}

footer {
  margin-top: 20px;
}

h2 {
  padding: 30;
}

h3 {
  margin-bottom: 10;
}

.p2 {
  margin-left: 40;
  margin-right: 30;
}

.p3 {
  margin-left: 30;
  margin-right: 30;
}

.images {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.img5 {
  grid-column: 2/6;
  grid-row: 1;
  animation: fadeInRightBig;
  animation-duration: 1s;
}
.img5 .imgBarco {
  animation: clipBarco 1s infinite;
}

@keyframes clipBarco {
  0% {
    clip-path: polygon(0% 0%, 0% 100%, 17% 90%, 33% 100%, 50% 90%, 66% 100%, 83% 90%, 100% 100%, 100% 0);
  }
  50% {
    clip-path: polygon(0% 0%, 0% 90%, 17% 100%, 33% 90%, 50% 100%, 66% 90%, 83% 100%, 100% 90%, 100% 0);
  }
  100% {
    clip-path: polygon(0% 0%, 0% 100%, 17% 90%, 33% 100%, 50% 90%, 66% 100%, 83% 90%, 100% 100%, 100% 0);
  }
}
.img1 {
  grid-column: 1/3;
  grid-row: 2;
  animation: fadeInRightBig;
  animation-duration: 2s;
}

.img2 {
  grid-column: 3/5;
  grid-row: 2;
  animation: fadeInRightBig;
  animation-duration: 3s;
}

.img3 {
  grid-column: 5/7;
  grid-row: 2;
  animation: fadeInRightBig;
  animation-duration: 4s;
}

.img4 {
  grid-column: 3/5;
  grid-row: 3;
  animation: backInUp;
  animation-duration: 4.5s;
}

.enlaces {
  padding: 30;
  margin-left: 40;
  margin-right: 30;
}

.presentacion {
  margin-left: 30;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20;
}

.imgpres1 {
  grid-column: 4/5;
  grid-row: 1/6;
}

.clip-svgPres {
  animation: clipPres 3s;
}

@keyframes clipPres {
  0% {
    clip-path: ellipse(18% 16% at 51% 22%);
  }
  100% {
    clip-path: ellipse(100% 100% at 51% 16%);
  }
}
.p1 {
  grid-column: 1/4;
  grid-row: 1/1;
  margin-top: 30;
  margin-right: 30;
}

.titulo1 {
  grid-column: 1/4;
  grid-row: 2/2;
  margin-top: 30;
  margin-right: 30;
}

.titulo2 {
  grid-column: 1/4;
  grid-row: 3/3;
  margin-top: 30;
  margin-right: 30;
}

.personajes {
  margin-top: 10;
  margin-left: 20;
}

.categoria {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 30;
}
.categoria figure {
  grid-column: 2/3;
  grid-row: 1/1;
  animation: fadeIn;
  animation-duration: 2s;
}
.categoria ul {
  grid-column: 1/2;
  grid-row: 1/1;
  margin-left: 30;
  list-style: disc;
}
.categoria ul li {
  margin: 20;
  display: flex;
  align-items: center;
}
.categoria ul a {
  color: rgb(148, 87, 87);
  text-decoration: none;
}
.categoria ul img {
  margin-left: 10px;
  width: 20%;
}
.categoria img {
  width: 80%;
}

.ubicaciones img {
  width: 70%;
}
.ubicaciones p {
  padding: 40;
}
.ubicaciones ul {
  margin-left: 70;
}

@media only screen and (max-width: 800px) {
  .main-header {
    background: rgb(148, 87, 87);
    width: 100%;
    height: 100%;
    color: beige;
  }
  .navigation ul {
    display: grid;
    grid-template-columns: repeat(7, 0.5fr);
  }
  .navigation img {
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .navigation h1 {
    font-size: 30;
    grid-column: 3/8;
    grid-row: 1/2;
    padding: 0;
  }
  .navigation li {
    list-style: none;
    padding: 0;
    margin-left: 0;
  }
  .navigation .li1 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .navigation .li2 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .navigation .li3 {
    grid-column: 5/6;
    grid-row: 2/3;
  }
  .navigation .li4 {
    grid-column: 7/8;
    grid-row: 2/3;
  }
  .navigation a {
    color: beige;
    display: block;
    transition: 0.4s ease;
    text-decoration: none;
  }
  .navigation a:hover {
    transform: translateX(10%);
  }
  .categoria {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 30;
  }
  .categoria figure {
    grid-column: 1/2;
    grid-row: 2/3;
    animation: fadeIn;
    animation-duration: 2s;
  }
  .categoria .ul {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 30;
    list-style: disc;
  }
  .categoria .ul li img {
    width: 40%;
  }
  .categoria .ul a {
    color: rgb(148, 87, 87);
    text-decoration: none;
  }
  .categoria img {
    display: block;
    margin: auto;
  }
  .categs {
    font-size: 15;
  }
  .ejemUbis {
    margin-right: 30;
  }
  .presentacion {
    margin-left: 30;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20;
  }
  .imgpres1 {
    grid-column: 2/3;
    grid-row: 7/8;
    animation: fadeIn;
    animation-duration: 2s;
    margin-top: 20;
  }
  .p1 {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  .titulo1 {
    grid-column: 1/4;
    grid-row: 3/4;
  }
  .titulo2 {
    grid-column: 1/4;
    grid-row: 5/6;
  }
}

/*# sourceMappingURL=styles_compilado.css.map */
